.component-button {
  #button {
    border: none;
    transition: 0.2s ease;
    &:hover {
      // background-color: rgb(184, 140, 140);
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
    font-weight: bold;
    height: 50px;
    background: none;
  }
}