.component-vendingmachine {
  margin: 30px;
  width: 70%;
  height: 600px;
  display: grid;
  grid-template-columns: 8fr 2fr;
  &--itembox {
    border-right: 2px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  &--messagebox {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    &--money {
      display: grid;
      grid-template-columns: 1fr 1fr;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    }
    &--message {
      box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    }
    &--items {
      box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    }
  }
}