.component-vendingmachine {
  margin: 30px;
  width: 70%;
  height: 600px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 8fr 2fr;
  &--itembox {
    border-right: 2px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  &--messagebox {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    &--money {
      border-bottom: 1px solid black;
    }
    &--message {
      border-bottom: 1px solid black;
    }
  }
}